.navbar{
    background-color: grey;
    overflow: hidden;
    color:white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif; 
    display: block;
    text-decoration: none; /* no underline */
}
.navbar li{
    float: right;
    list-style-type: none;
    padding: 8px;
}
#navfloatLeft{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: yellow;
    background-color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10vh;
    font-size: 30px;
}
.square{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border: 1px aquamarine;
    border-radius: 20px;
	margin: 2%;
}
.rectangle{
    background-color: orange;
    height: 200px;
    width: 500px;
    border: 1px orange;
    margin: 2%;
}
.container{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
p{
    width: 400px;
}
.imgText {
    margin: 2%;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
footer{
    height: 100px;
    width: 100%;
    background-color: rgb(45, 34, 63);
}




